<h1 class="header">Cart:</h1>

<div class="product-outer">
  <div class="card-container"></div>
  <div id="modal" class=""></div>
  <button class="form-btn" id="load-more-btn">Load More</button>
</div>
