<h1 class="header">Cart:</h1>

<div class="product-outer">
  <div class="card-container">
    <% for(var i = 0; i < 10; i++) { %>
    <div class="card">
      <!-- Product Img: -->
      <div class="card-top">
        <img
          src="https://m.media-amazon.com/images/I/41oLKl-rukL._UX679_.jpg" />
      </div>
      <div class="card-lower">
        <!-- Product Detail -->
        <div class="card-detail">
          <p class="name">Nike T-shirt Men's</p>
          <p class="cost">
            <i class="fa-solid fa-indian-rupee-sign"></i>
            699.00
          </p>
          <div class="quantity-container">
            <p class="quantity heading">Quantity:</p>
            <p class="quantity">3</p>
            <button type="button" class="quantity-btn">
              <i class="fa-solid fa-plus"></i>
            </button>
            <button type="button" class="quantity-btn">
              <i class="fa-solid fa-minus"></i>
            </button>
          </div>
        </div>

        <!-- Delete / Description Button: -->
        <div class="button-container">
          <button type="button" class="delete-btn">Delete</button>
          <button type="button" class="detail-btn">View Detial</button>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>
