<footer class="footer">
  <div class="footer-content">
    <p>&copy; ShopKart Store. All rights reserved.</p>
    <p>
      banner vector illustration:
      <a
        class=".link"
        href="https://www.freepik.com/free-vector/template-banner-online-store-with-shopping-cart-with-purchases-boxes-delivery-from-supermarket-vector-illustration_21869730.htm#query=online%20shopping%20banner&position=8&from_view=keyword&track=ais">
        bs_k1d Freepik
      </a>
    </p>
  </div>
</footer>
