.card-container {
  width: 100%;
  display: grid;
  grid-gap: 20px;
  padding: 25px 0px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.card {
  width: 100%;
  border-radius: 10px;
  height: max-content;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-top {
  width: 100%;
  display: flex;
  aspect-ratio: 1;
  align-items: center;
  justify-content: center;
}

.card-top > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-detail {
  padding: 10px 25px 0px 25px;
}

.form-field {
  display: flex;
  margin: 6px 0px;
  align-items: center;
  justify-content: center;
}

.label {
  width: 120px;
  font-size: 14px;
  font-family: "Noto Sans", sans-serif;
}

.input {
  width: 100%;
  font-size: 14px;
  padding: 7px 4px;
  font-family: "Noto Sans", sans-serif;
}

.button-container {
  gap: 10px;
  display: flex;
  padding: 20px 25px;
}

.button-container > button {
  width: 100%;
  border: none;
  padding: 12px;
  color: white;
  cursor: pointer;
  font-weight: 500;
  background-color: var(--primary);
  font-family: "Noto Sans", sans-serif;
  border-radius: 100px;
}

.button-container > button:hover {
  background-color: var(--secondary);
}

button.delete-btn {
  background-color: var(--delete);
}

button.delete-btn:hover {
  background-color: var(--delete-secondary);
}
