.modal-outer {
  gap: 10px;
  left: 0px;
  right: 0px;
  top: 25px;
  margin: auto;
  width: 600px;
  display: flex;
  padding: 25px;
  position: absolute;
  height: max-content;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.left {
  flex: 1;
  height: 100%;
  aspect-ratio: 1;
}

.left > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right {
  padding: 10px;
  flex: 1;
  width: 100%;
}

.heading {
  margin: 0px;
  padding: 5px 0px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Noto Sans", sans-serif;
}

.cost {
  font-size: 14px;
  font-weight: 500;
  font-family: "Noto Sans", sans-serif;
}

.description {
  font-size: 14px;
  font-weight: 400;
  text-align: justify;
  font-family: "Noto Sans", sans-serif;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
}
